@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-blue {
    -webkit-text-stroke: 1px #0B9EB7;
  }
  .font-outline-teal {
    -webkit-text-stroke: 1px #14b8a6;
  }
  .font-outline-sky {
    -webkit-text-stroke: 1px #0284c7;
  }
  .font-outline-white {
    -webkit-text-stroke: 1px white;
  }
}